.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffff;

    height: 389px;
    width: 608px;
    
    border-radius: 4px;
}


.inputs form {

    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: fit-content;
    
}

.inputs form input {

    width: 251px;
    height: 37px;
    
    border: 1px solid #DDE6E9;
    border-radius: 4px;
}

.inputs form label {
    text-align: left;

}

.results {
   font-style: italic;
}
